/************************
  Light theme (default)

  References: 
    - https://tailwindcss.com/docs/theme
    - https://github.com/shadcn-ui/ui/blob/main/apps/v4/app/themes.css
*************************/
.theme-default 
{
  /************************
    Typography
  *************************/

  --font-family-base: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue",
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  /************************
    Base colors
  *************************/

  /* --color-slate-50: oklch(0.984 0.003 247.858);
  --color-slate-100: oklch(0.968 0.007 247.896);
  --color-slate-200: oklch(0.929 0.013 255.508);
  --color-slate-300: oklch(0.869 0.022 252.894);
  --color-slate-400: oklch(0.704 0.04 256.788);
  --color-slate-500: oklch(0.554 0.046 257.417);
  --color-slate-600: oklch(0.446 0.043 257.281);
  --color-slate-700: oklch(0.372 0.044 257.287);
  --color-slate-800: oklch(0.279 0.041 260.031);
  --color-slate-900: oklch(0.208 0.042 265.755);
  --color-slate-950: oklch(0.129 0.042 264.695); */

  /* slate-700 */
  --background: oklch(0.372 0.044 257.287);
  /* slate-400 */
  --foreground: oklch(0.704 0.04 256.788);

  /* slate-100 */
  --title: oklch(0.968 0.007 247.896);
  /* slate-300 */
  --subtitle: oklch(0.869 0.022 252.894);

  /************************
    Brand colors
  *************************/

  /* cyan-400 */
  --brand-primary: oklch(0.789 0.154 211.53);
  /* cyan-500 */
  --brand-primary-dark: oklch(0.715 0.143 215.221);
  /* cyan-600 */
  --brand-secondary: oklch(0.609 0.126 221.723);

  /************************
    Borders and inputs
  *************************/

  /* slate-400 */
  --border: oklch(0.704 0.04 256.788);
  /* slate-300 */
  --input: oklch(0.869 0.022 252.894);
  /* cyan-400 */
  --ring: oklch(0.789 0.154 211.53);

  /* Status colors */
  /* green-400 */
  --success: oklch(0.792 0.209 151.711);
  /* yellow-400 */
  --warning: oklch(0.852 0.199 91.936);
  /* cyan-400 */
  --info: oklch(0.789 0.154 211.53);
  /* red-400 */
  --error: oklch(0.704 0.191 22.216);

  /************************
    UI Elements
  *************************/

  /* slate-300 */
  --muted: oklch(0.869 0.022 252.894);
  /* slate-500 */
  --muted-foreground: oklch(0.554 0.046 257.417);
  /* slate-400 */
  --accent: oklch(0.704 0.04 256.788);
  /* slate-900 */
  --accent-foreground: oklch(0.208 0.042 265.755);
  /* red-400 */
  --destructive: oklch(0.704 0.191 22.216);
  /* white */
  --destructive-foreground: oklch(0.985 0 0);

  /*--------------
    Main
  --------------*/

  /* slate-500 */
  --main-background: linear-gradient(
    oklab(0.279 -0.007098 -0.040381 / 0.9) 0%, 
    oklab(0.208 -0.003109 -0.041885 / 0.9) 100%);
  /* slate-900 */
  --main-foreground: oklch(0.208 0.042 265.755);

  /*--------------
    Menus
  --------------*/

  /* slate-800 */
  --menu-background: oklch(0.279 0.041 260.031);
  /* slate-300 */
  --menu-foreground: oklch(0.869 0.022 252.894);
  /* slate-100 */
  --menu-foreground-hover: oklch(0.968 0.007 247.896);
  /* slate-700 */
  --menu-border: oklch(0.372 0.044 257.287 / 0.5);
  /* slate-700 */
  --menu-hover: oklch(0.372 0.044 257.287 / 0.5);
  /* sm */
  --menu-text-size: 14px;
  /* white */
  --menu-selected: white;
  
  /*--------------
    Header
  --------------*/

  /* slate-900 */
  --header-background: oklch(0.208 0.042 265.755);
  /* slate-300 */
  --header-foreground: oklch(0.869 0.022 252.894);
  /* slate-700 */
  --header-border: oklch(0.372 0.044 257.287 / 0.5);
  /* slate-700 */
  --header-hover: oklch(0.372 0.044 257.287 / 0.5);

  /*--------------
    Sidebar
  --------------*/

  /* slate-900 */
  --sidebar-background: oklch(0.208 0.042 265.755);
  /* slate-400 */
  --sidebar-foreground: oklch(0.704 0.04 256.788);
  /* slate-700 */
  --sidebar-border: oklch(0.372 0.044 257.287 / 0.3);
  /* cyan-500 */
  --sidebar-icon-hover: var(--brand-primary-dark);
  /* slate-700 */
  --sidebar-icon-hover-background: oklch(0.372 0.044 257.287 / 0.4);
  /* slate-700 */
  --sidebar-icon-active-background: oklch(0.372 0.044 257.287 / 0.2);

  /* slate-300 */
  --sidebar-item:oklch(0.869 0.022 252.894);
  /* white */
  --sidebar-item-hover: white;
  /* slate-600 */
  --sidebar-item-empty: oklch(0.446 0.043 257.281);

  /* cyan-400 */
  --sidebar-resize-handle-shadow-hover: 0 0 5px rgba(34,211,238,0.4);
  /* cyan-400 */
  --sidebar-resize-handle-shadow-active: 0 0 8px rgba(34,211,238,0.6);

  /*--------------
    Search
  --------------*/

  /* slate-700 */
  --search-background: oklch(0.372 0.044 257.287/0.3);
  /* slate-300 */
  --search-foreground: oklch(0.869 0.022 252.894);
  /* slate-600 */
  --search-border: oklch(0.446 0.043 257.281 / 0.7);

  /*--------------
    Popovers
  --------------*/

  /* slate-100 */
  --popover: oklch(0.968 0.007 247.896);
  /* slate-900 */
  --popover-foreground: oklch(0.208 0.042 265.755);

  /*--------------
    Inputs
  --------------*/

  /* slate-700 */
  --input-background: oklch(0.372 0.044 257.287 / 0.7);
  /* slate-300 */
  --input-foreground: oklch(0.869 0.022 252.894);
  /* slate-400 */
  --input-placeholder: oklch(0.704 0.04 256.788 / 0.7);
  /* slate-600 */
  --input-border: oklch(0.446 0.043 257.281);
  /* slate-300 */
  --input-label: oklch(0.869 0.022 252.894);
  /* red-400 */
  --input-error: oklch(0.704 0.191 22.216);

  /*--------------
    Star
  --------------*/

  --star: oklch(0.795 0.184 86.047);
  --star-hover: oklch(0.554 0.046 257.417);

  /*--------------
    QuoteBox
  --------------*/

  /* slate-700 */
  --quote-box-background: oklch(0.372 0.044 257.287);
  /* slate-300 */
  --quote-box-foreground: oklch(0.869 0.022 252.894);
  /* slate-700 */
  --quote-box-selected: oklch(0.372 0.044 257.287 / 0.2);
  /* slate-600 */
  --quote-box-border: oklch(0.446 0.043 257.281 / 0.7);

  /*--------------
    Tags
  --------------*/

  /* slate-600 */
  --tag-fill: oklch(0.446 0.043 257.281);
  /* slate-500 */
  --tag-fill-hover: oklch(0.554 0.046 257.417);


  /*--------------
    Footer
  --------------*/

  /* slate-900 */
  --footer-background: oklch(0.208 0.042 265.755);
  /* slate-700 */
  --footer-border: oklch(0.372 0.044 257.287 / 0.3);
  
}

.theme-default-dark {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-title: var(--title);
  --color-subtitle: var(--subtitle);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-brand-primary: var(--brand-primary);
  --color-brand-primary-dark: var(--brand-primary-dark);
  --color-brand-secondary: var(--brand-secondary);

  --color-main-background: var(--main-background);
  --color-main-foreground: var(--main-foreground);

  --color-menu: var(--menu-background);
  --color-menu-foreground: var(--menu-foreground);
  --color-menu-foreground-hover: var(--menu-foreground-hover);
  --color-menu-border: var(--menu-border);
  --color-menu-hover: var(--menu-hover);

  --color-search: var(--search-background);
  --color-search-foreground: var(--search-foreground);
  --color-search-border: var(--search-border);

  --color-header: var(--header-background);
  --color-header-foreground: var(--header-foreground);
  --color-header-border: var(--header-border);
  --color-header-hover: var(--header-hover);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-icon-hover: var(--sidebar-icon-hover);
  --color-sidebar-icon-hover-background: var(--sidebar-icon-hover-background);
  --color-sidebar-icon-active-background: var(--sidebar-icon-active-background);
  --color-sidebar-item: var(--sidebar-item);
  --color-sidebar-item-hover: var(--sidebar-item-hover);
  --color-sidebar-item-empty: var(--sidebar-item-empty);

  --color-input: var(--input-background);
  --color-input-foreground: var(--input-foreground);
  --color-input-placeholder: var(--input-placeholder);
  --color-input-border: var(--input-border);
  --color-input-label: var(--input-label);
  --color-input-error: var(--input-error);

  --color-star: var(--star);
  --color-star-hover: var(--star-hover);

  --color-quote-box-background: var(--quote-box-background);
  --color-quote-box-foreground: var(--quote-box-foreground);
  --color-quote-box-selected: var(--quote-box-selected);
  --color-quote-box-border: var(--quote-box-border);

  --color-tag-fill: var(--tag-fill);
  --color-tag-fill-hover: var(--tag-fill-hover);

  --color-footer: var(--footer-background);
  --color-footer-border: var(--footer-border);

  --text-size-menu: var(--menu-text-size);
  
}
